<% layout('./layout/page.ejs') %>

<section class="background-radial-gradient overflow-hidden" style="height: 100vh;">
  <style>
    .background-radial-gradient {
      background-image: url('/images/bleach.jpg');
      background-size: cover;
      height: 100%;
    }
  </style>
  <div class="conteiner">
    <h1>Регистрация и вход</h1>
    <p>Введите имя пользователя и пароль, если такого пользователя нет, то он будет создан.</p>
    <form class="form-horizontal" action="/logreg" method="post">
      <div class="form-group">
        <label class="control-label col-sm-1">Имя</label>
        <div class="col-sm-5">
          <input class="form-control" type="text" placeholder="Введите имя" name="username" />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-1">Пароль</label>
        <div class="col-sm-5">
          <input class="form-control" type="password" placeholder="Введите пароль" name="password" />
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-1 col-sm-5">
          <input class="btn btn-primary" type="submit" value="Войти" />
        </div>
      </div>
    </form>
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(204, 57%, 66%)">
          Bleach <br />
          <span style="color: hsl(204, 57%, 66%)">私のウェブサイトへの歓迎</span>
        </h1>
      </div>
    </div>
  </div>
  </div>
</section>