body {
  padding:  0px 30px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(0, 0, 0);
}

a {
  color: rgb(115, 161, 192);
}

img {
  width: 25%;
  margin: 25px 25px 25px 0px;
}
